body {
    background-color: #082032;
   margin: 0%;
   padding: 0%;
   width: 80%;  
    height: 100%;  
}

#clockDiv {
    position: absolute;
    top: 7%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #FF4C29;
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
}

#head {
    text-align: center;
    color: #FF4C29;
    font-size: 40px;
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#head:hover {
    text-shadow: 5px 5px 5px black;
    transition: 500ms linear;
}

.contentPage1 {
    color: #546c80;
    font-size: 25px;
    width: fit-content;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.contentPage1:hover {
    text-shadow: 5px 5px 5px black;
    transition: 500ms linear;
}

.contentPage2 {
    color: #546c80;
    font-size: 25px;
    width: fit-content;
    text-align: center;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.contentPage2:hover {
    text-shadow: 5px 5px 5px black;
    transition: 500ms linear;
}

#imgCont {
    text-align: center;
    width: fit-content;
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
    border: 2px solid black;
    background-color: #082032;
}

#imgCont:hover {
    width: 303px;
    height: 403px;
    border: 5px solid #334756;
    background-color: #2C394B;
    transition: 500ms linear;
}

#imgCont2 {
    text-align: center;
    width: fit-content;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid black;
    background-color: #082032;
}

#imgCont2:hover {
    width: 303px;
    height: 403px;
    border: 5px solid #334756;
    background-color: #2C394B;
    transition: 500ms linear;
}

#imgCont3 {
    text-align: center;
    width: fit-content;
    position: absolute;
    top: 50%;
    left: 75%;
    transform: translate(-50%, -50%);
    border: 2px solid black;
    background-color: #082032;
}

#imgCont3:hover {
    width: 303px;
    height: 403px;
    border: 5px solid #334756;
    background-color: #2C394B;
    transition: 500ms linear;
}

.imgDesc {
    color: white;
    font-weight: bold;
    font-size: 25px;
}

.imgDesc:hover {
    color: #FF4C29;
}


/*icon to return to ''index'' page*/
.backHomeLinks {
    color: white;
    text-align: center;
    padding: 15px 15px;
    margin: 15px;
    font-size: 18px;
    text-decoration: none;
    text-shadow: 2px 2px black;
}

/*effects of mouse over back home icon*/
.backHomeLinks:hover {
    color: rgb(255, 255, 255);
    transition: 1000ms linear;
    background-color: rgb(71, 75, 75);
    box-sizing: border-box;
    border-radius: 15px 15px;   
}


/*index menu special effects*/
.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: black;
    background-color: #2C394B;
    overflow: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 10%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #ed5e41;
    display: block;
    transition: 0.3s;    
}

.overlay a:hover, .overlay a:focus {
    color: #fd2a00
}

.overlay .closeButton {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

@media screen and (max-height: 450px) {
    .overlay a {font-size: 20px;}
    .overlay .closeButton {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}

/*icon to access the menu on index page*/
.span {
    font-size: 30px;
    cursor: pointer;
    color: #FF4C29;
}

/*icon styles*/
.fa {
    padding: 20px;
    font-size: 30px;
    text-align: center;
    width: 50px;
    text-decoration: none;
    border-radius: 15px 15px;
}

/*facebook*/
.fa-facebook {
    color: white;
    background-color: rgb(11, 66, 232);
}

.fa:hover {
    opacity: 0.7;
}

/*linkedIn*/
.fa-linkedin {
    color: white;
    background-color: rgb(0, 153, 255);
}

/*github*/
.fa-github {
    color: white;
    background-color: black;
}

/*gmail*/
.fa-google {
    color: rgb(192, 11, 11);
    background-color: white;
}

/*social media div*/
.socialMedia {
    position: absolute;
    top: 40%;
    left: 49%;
    transform: translate(-50%, -50%);
}